dtd/vokoxml.rnc

# RelaxNG-difino de strukturo de Voko-vortaro uzata en Reta Vortaro
#
# Aldone al la difinoj de vokoxml.dtd ĝi kapablas ekzameni la datumtipojn,
# ekz. la enhavon de <ofc>, mrk ktp. 
#
# (c) 2016 - 2020 ĉe Wolfram Diestel
# uzebla sub kondiĉoj de GPL 2.0 

#default namespace = "http://steloj.de/voko"
namespace a = "http://relaxng.org/ns/compatibility/annotations/1.0"

## ********************************************************
##           KADRA STRUKTURO DE VORTARO
## ********************************************************


##  [vortaro] Radiko de la strukturarbo de vortaro. La elemento ampleksas
## la tutan vortaron.<br/>
## Ĝi entenas aŭ prologon, precipan parton kaj epilogon aŭ plurajn
## artikolojn. Prologo kaj epilogo estas nedevigaj. La ebleco de rekta
## enteno de artikolo ne estas destinita por kompletaj vortaroj, sed por
## eltiroj aŭ unuopa artikolo.

vortaro =
  element vortaro {
    attlist-vortaro,
    ((prologo?, precipa-parto, epilogo?) | art+)
  }
attlist-vortaro &= empty


##  [prologo] Prologo de la vortaro. Ĝi povas enteni la titolo(j)n 
## kaj aŭtoro(j)n de la vortaro kaj aliajn tekstojn.

prologo =
  element prologo {
    attlist-prologo, (text | titolo | autoro | alineo)*
  }
attlist-prologo &= empty


##  [epilogo] Epilogo de la vortaro. 
## Ĝi povas enhavi iun tekston aŭ plurajn alineojn.

epilogo = element epilogo { attlist-epilogo, (text | alineo)* }
attlist-epilogo &= empty


##  [titolo] Titolo de la vortaro. Ĝi estas entenata en la 
## prologo. Pluraj titoloj estas permesitaj.

titolo = element titolo { attlist-titolo, text }
attlist-titolo &= empty


##  [autoro] Indiko de aŭtoro(j) de la vortaro. 
## Ĝi estas enhavata en la prologo kaj povas okazi tie plurfoje.
autoro = element autoro { attlist-autoro, text }
attlist-autoro &= empty


## [alineo] Unuopa alineo en la prologo- aŭ epilogo-teksto.

alineo = element alineo { attlist-alineo, (text | url)* }
attlist-alineo &= empty


## [precipa-parto] Precipa parto de la vortaro. Ĝi enhavas rekte ĉiujn
## artikolojn aŭ sekciojn aŭ partojn. 
## Diversaj partoj povas dividi diversajn lingvojn de la kapvortoj.
## Sekcioj grupigas vortojn komenciĝantajn je sama litero.

precipa-parto =
  element precipa-parto {
    attlist-precipa-parto, (parto+ | sekcio+ | art+)
  }
attlist-precipa-parto &= empty


##  [parto] Vortaroparto. Ĝi estas entenata en la precipa parto. Parto normale
## prezentas unu lingvon en plurlingva vortaro aŭ lingvodirekton en
## dulingva vortaro. Ĝia atributo <em>lng</em> indikas la lingvon de
## la kapvortoj en la parto.

parto = element parto { attlist-parto, (sekcio+ | art+) }
attlist-parto &= attribute lng { text }?


##  [sekcio] Sekcio en vortaro. Ĝi estas entenata en la precipa parto aŭ en
## parto de ĝi kaj normale entenas ĉiujn artikolojn, kies kapvorto
## komenciĝas je sama litero. La atributo <em>lit</em> indikas tiun
## komencliteron.

sekcio = element sekcio { attlist-sekcio, art+ }
attlist-sekcio &= attribute lit { text }?



## ******************************************************
##              STRUKTURO DE ARTIKOLO
## ***********************************************************

##  [_indikiloj_] Tuj post la kapvorto venas ordinare unue kelkaj indikiloj pri la 
## <dfn>gra</dfn>matiko, <dfn>uzo</dfn> k.a.

indikiloj = 
  fnt
  | gra
  | uzo
  | mlg
  | tezrad

## [_dif-ref-parto_] 
## Ĉe sinonimoj oni povas uzi referencon al alia vorto aŭ senco (<dfn>dif-ref</dfn>), kiu difinas ĝin.
## Ĝin povas suplementi <dfn>indikiloj</dfn>, aliaj <dfn>referenciloj</dfn>, <dfn>rim</dfn>arko, 
## <dfn>tradukiloj</dfn> kaj <dfn>adm</dfn>inistra noto.

dif-ref-parto =
  indikiloj*,
  dif-ref,
  referenciloj*,
  rim*,
  tradukiloj*,
  adm*


##  [_dif-ref_] Foje la difino anstataŭiĝas per difina <dfn>ref</dfn>erenco
## aŭ grupo da ili (<dfn>refgrp</dfn>). Oni uzas tiam la tipon <em>dif</em>.

dif-ref =
# limigita al tipo dif...:
# FARENDA: difinu ref sen tip (engrupa) kaj ref kun tip (sola)
  element refgrp { attribute tip { "dif" },  (text? & ref+) }
  | element ref { attribute tip { "dif" }, attribute cel { text }, 
      (text | tld | klr | sncref)* }


## [_difiniloj-supl_]
## Post difino povas veni diversaj suplementoj kiel <dfn>ekz</dfn>emploj, <dfn>referenciloj</dfn>, 
## bildoj (<dfn>bld</dfn>), <dfn>rim</dfn>arkoj...

difiniloj-supl =
  referenciloj
  | ekz
  | bld
  | rim
  | adm


##  [_referenciloj_] La referenciloj montras al rilataj vortoj kaj sencoj (<dfn>refgrp</dfn>, <dfn>ref</dfn>), 
## vortlistoj (<dfn>lstref</dfn>) aŭ al interreta paĝo (<dfn>url</dfn>).

referenciloj =
  ref
  | refgrp
  | lstref
  | url


## [_tradukiloj_] La nacilingvaj tradukoj de la senco aŭ derivaĵo - unuopa (<dfn>trd</dfn>) 
## aŭ pluraj grupigite (<dfn>trdgrp</dfn>).
# FARENDA: difinu laŭlingvan ordon de tradukoj, se eble...
# ? (trdgrp { attribute lng {"af"} } | trd { attribute lng {"af"} })? , ...
tradukiloj = 
  trdgrp
  | trd

## [_unua-parto_] Unua parto de teksto en artikolo, derivaĵo aŭ senco, 
## kiu venas antaŭ subdividoj, t.e. ekz. en derivaĵo tio, kio venas antaŭ sencoj.
## Tio povas esti <dfn>indikiloj</dfn> kaj eble <dfn>dif</dfn>ino.

unua-parto = 
  indikiloj*,
  dif?
  #difiniloj*

## [_sekva-parto_] Sekva parto de teksto en artikolo, derivaĵo aŭ senco venante post subdividoj,
## kiu ekz. en derivaĵo venas post la sencoj. Ĝi konsistas el <dfn>difiniloj-supl</dfn> kaj
## <dfn>tradukiloj</dfn>, sekvata de <dfn>adm</dfn>inistra noto. Ĉiuj partoj povas esti forlasitaj.

sekva-parto =
  difiniloj-supl*,
  tradukiloj*,
  adm*

## [_tekst-stiloj_] La unuo <dfn>tekst-stiloj</dfn> 
## listigas ĉiujn strukturilojn, kiuj donas stilon al tekstoparto,
## ekz. <dfn>em</dfn>fazita, citilita (<dfn>ctl</dfn>), altigita (<dfn>sup</dfn>)
## aŭ malaltigita (<dfn>sub</dfn>) teksto kaj formulo (<dfn>frm</dfn>).
## Aliaj elementoj klarigo (<dfn>klr</dfn>), tildo (<dfn>tld</dfn>), 
## sencreferenco (<dfn>sncref</dfn>), <dfn>nom</dfn>o aŭ <dfn>nac</dfn>ilingva esprimo
## same povas esti multloke, do ankaŭ ili estas listigitaj tie ĉi.

tekst-stiloj = tld | sncref | klr | em | sup | sub | ctl | frm | nom | nac

## [art] Unuopa artikolo de la vortaro. Ĝi povas okazi en
## <dfn>vortaro</dfn> (se ne ekzistas precipa-parto),
## <dfn>precipa-parto</dfn>, <dfn>parto</dfn> aŭ <dfn>sekcio</dfn>. Tio
## dependas de la konkreta strukturo de la vortaro. Ĉiu artikolo
## entenas unue kapvorton kaj poste aŭ priskribajn elementojn aŭ plurajn
## derivaĵojn aŭ plurajn sencojn de la kapvorto aŭ subartikolojn.

art =  
  element art {
    attlist-art, 
    art-kap, 
    unua-parto,
    (subart | drv | snc)*,
    sekva-parto
  }
attlist-art &= attribute mrk { art-marko }


## [subart] 
## Subartikolo. Ĝi povas okazi en <dfn>art</dfn>,
## se la signifoj de vorto (ofte ĉe prepozicioj kaj afiksoj) estas
## tre diversaj.

subart =
  element subart { 
    attlist-subart, 
    unua-parto,
    (drv | snc)*,
    sekva-parto 
  }
attlist-subart &= attribute mrk { drv-marko }?

## [drv] Derivaĵo ene de artikolo. Unu artikolo povas priskribi plurajn
## derivaĵojn de la kapvorto. Derivaĵo komenciĝas je kapvorto kaj
## priskribaj elementoj pri ĝi aŭ el unu aŭ pluraj sencoj aŭ el unu aŭ
## pluraj subdividoj <dfn>subdrv</dfn>.
##
## La enhavo de derivaĵo povas obei al unu el du modeloj:
## 1. Ordinare komence estas <dfn>unua-parto</dfn> sekvata de sencoj aŭ subderivaĵoj
##    kaj poste <dfn>sekva-parto</dfn>. 
## 2. En kelkaj okazoj ni difinas per referenco
##    al alia vorto kaj aldonas nur indikilojn, vd. <dfn>dif-ref-parto</dfn>.

drv =
  element drv {
    attlist-drv, 
    drv-kap, 

    (dif-ref-parto |
      (
        unua-parto,
        (subdrv | snc)*,
        sekva-parto
      )
    )
  }
attlist-drv &= attribute mrk { drv-marko }


## [var] Variaĵo de la vorto, ekz. meĥaniko - mekaniko, pomarbo -
## pomujo. Ĝi povas enhavi fontindikon k.s., sed ankaŭ rimarkojn 
## kaj ekzemplojn, sed ĝi ne havas propran difinon. Ĝi aperas ene
## de kapvorto, ĉar ĝi ja estas ĝia variaĵo.

art-var = element var { attlist-var, art-kap, (uzo | klr | ekz | rim)* }
drv-var = element var { attlist-var, drv-kap, (uzo | klr | ekz | rim)* }
attlist-var &= empty

## [subdrv] Subderivaĵo. Ĝi grupigas plurajn proksimajn sencojn, se la
## priskribita vorto havas tre multajn sencojn. Tio povas
## rezulti en pli klara strukturo de la artikolo. La subdividaĵoj
## estas nombrataj per A), B), ...
##
## La enhavo de subderivaĵo povas obei al unu el du modeloj:
## 1. Ordinare komence estas <dfn>unua-parto</dfn> sekvata de sencoj 
##    kaj poste <dfn>sekva-parto</dfn>. 
## 2. En kelkaj okazoj ni difinas per referenco
##    al alia vorto kaj aldonas nur indikilojn, vd. <dfn>dif-ref-parto</dfn>.

subdrv =
  element subdrv { 
    attlist-subdrv, 

    (dif-ref-parto |
      (
        unua-parto,
        (snc)*,
        sekva-parto
      )
    )
  }
attlist-subdrv &= attribute mrk { snc-marko }?


## [snc] Senco de unuopa vorto en artikolo. Komparu la latinajn ciferojn en
## la artikoloj de PIV. 
##
## Per <em>mrk</em> (vd <dfn>snc-marko</dfn>) 
## oni povas referenci sencon de alie. Per <em>ref</em> oni
## referencas al alia senco samartikola (uzata en malmultaj longaj artikoloj, ekz.
## "al"). Per <em>num</em> oni povus atribui al la senco fiksitan numeron, 
## sed tion ni normale ne uzas, ni lasas tion al la aŭtomata numerado.
##
## La enhavo de senco povas obei al unu el du modeloj:
## 1. Ordinare komence estas <dfn>unua-parto</dfn> eble sekvata de subsencoj 
##    kaj poste <dfn>sekva-parto</dfn>. 
## 2. En kelkaj okazoj ni difinas per referenco
##    al alia vorto kaj aldonas nur indikilojn, vd. <dfn>dif-ref-parto</dfn>.

snc = 
  element snc { 
    attlist-snc, 

    (dif-ref-parto |
      (
        unua-parto,
        (subsnc)*,
        sekva-parto
      )
    )
  }
attlist-snc &=
  attribute mrk { snc-marko }?,
  attribute num { text }?,
  attribute ref { text }?


## [subsnc] Subsenco ene de senco. Ĝi redonas subtilaĵojn ene de unu senco.
## Ili estas nombrataj per a), b), ...
##
## La enhavo de subsenco povas obei al unu el du modeloj:
## 1. Ordinare komence estas <dfn>unua-parto</dfn>  
##    kaj poste <dfn>sekva-parto</dfn>. 
## 2. En kelkaj okazoj ni difinas per referenco
##    al alia vorto kaj aldonas nur indikilojn, vd. <dfn>dif-ref-parto</dfn>.

subsnc = 
  element subsnc { 
    attlist-subsnc, 

    (dif-ref-parto |
      (
        unua-parto,
        sekva-parto
      )
    )
  }
attlist-subsnc &=
  attribute mrk { marko }?,
  attribute ref { text }?


## [sncref] Referenco al alia senco. Tiu elemento estas anstataŭigata
## per la numero de la referencita senco. Vi povas forlasi la atributon 
## ref, se ekzistas parenca elemento ref, kies atributo cel montras al la
## referencita senco.

sncref = element sncref { attlist-sncref, empty }
attlist-sncref &= attribute ref { text }?


##  ************************************************
##             STRUKTUROJ DE DETALAJ ELEMENTOJ
## *****************************************************


## [_fako_] Fakoj estas tri- aŭ kvarlingvaj majusklaj etikedoj difinitaj en la
## <a href="fakoj.html">listo de fakoj</a>

fako = xsd:string { pattern = "[A-Z]{3,4}" }


##  [_art-marko_] La marko identigas la artikolon unike. Ĝi estu identa kun la dosiernomo sen la '.xml'.
##  Por uzo de versiokontrolo CVS en Revo uziĝas por novaj artikoloj 
##  anstataŭe $Id$ kiun CVS etendas al kompleta versioindiko.

art-marko = xsd:string { pattern = "$Id$|($Id: )?([a-z0-9_]+)(.xml)?.*" }


##  [_drv-marko_] La marko de derivaĵo konsistas el dosiernomo, punkto kaj aldono, donanta la
##  kapvorton, kie la radikon anstataŭ tildon oni montras per '0', ekz.
##  'hom.0o', 'berlin.B0o'.

drv-marko = xsd:ID { pattern = "([a-z0-9_]+)\.[A-Za-z_]*0[A-Za-z_0]*(\.[A-Za-z_0-9]+)?" }


## [_snc-marko_] La marko de senco konsistas el la marko de la derivaĵo, punkto kaj
## identigilo de la senco, ekz. 'ord.0o.BIO', 'azen.0o.figure'.

snc-marko = xsd:ID { pattern = "([a-z0-9_]+)\.[A-Za-z_]*0[A-Za-z_0]*\.[A-Za-z_0-9]+" }


##  [_marko_] La marko identigas 'nodon' de la vortaro, ekz. artikolon, derivaĵon, sencon aŭ rimarkon,
##  kiun oni povas referenci de alia loko en la vortaro per la sama marko.

marko = xsd:ID { pattern = "([a-z0-9_]+)\.[A-Za-z0-9\._]+" }


## [kap] Kapvorto okazas en du kuntekstoj -- komence de artikolo
## kaj komence de derivaĵo, en la unua kazo ĝi signas radikon
## en la dua kazo ĝi konsistas el iuj literoj kaj eble tildo
## refencanta al la kapvorto, krome en la kapvorto povas okazi
## fontindiko.

art-kap = element kap { attlist-kap, (text | rad | ofc | fnt | tld | art-var)* }
drv-kap = element kap { attlist-kap, (text | ofc | fnt | tld | drv-var)* }
attlist-kap &= empty


##  [rad] Radiko de kapvorto. Ĝi estas bezonata por anstaŭigo
## de tildoj. Sekve la "radiko" de afiksoj kaj finaĵoj estu
## ili mem, sen la streketoj antaŭe aŭ malantaŭe.
## La atributo <em>var</em> povas identigi radikon de variaĵo.
rad = element rad { attlist-rad, text }
attlist-rad &= attribute var { text }?


## [ofc] Oficialeco de la kapvorto/derivaĵo, 
## povas esti *, 1, ..., 9 kiel en PV, PIV

ofc = 
  element ofc { 
    attlist-ofc, 
    xsd:string { pattern="\*|\(?[1-9]\)?|19[0-9]{2}" } 
  }
attlist-ofc &= empty


##  [fnt] Fonto enhavas informojn pri aŭtoro, verko, trovloko
## aŭ aliajn informojn.
fnt = element fnt { attlist-fnt, (text | bib | aut | vrk | lok | url)* }
attlist-fnt &= empty


##  [gra] Kiel grammatikaj informoj momente estas permesataj
## nur indiko de la vortspeco aŭ simpla teksto

gra = element gra { attlist-gra, (text | vspec)* }
attlist-gra &= empty


##  [vspec] Vortspeco. Ekz. subst. por substantivo; tr/ntr
## por transitivaj kaj netransitivaj verboj ktp.

vspec = element vspec { 
  attlist-vspec, 
  (
    ("tr"|"ntr"|"x"|"abs.") 
  | ("subst."|"substantivo") 
  | ("adj."|"adjektivo") 
  | ("adv."|"adverbo") 
  | ("artikolo"|"determinilo")
  | ("interj."|"interjekcio"|"ekkrio"|"sonimito") 
  | ("konj."|"konjunkcio") 
  | ("subordigilo") 
  | ("pref."|"prefikso") | ("suf."|"sufikso") 
  | ("prep."|"prepozicio") | "prepoziciaĵo"
  | ("pron."|"pronomo") 
  ) 
  # ĉu necesas aldoni aliajn: disjunkcio, ...?
  }
attlist-vspec &= empty


## [uzo] La uzo povas esti stilo, fako, regiono aŭ alia klarigo,
## kiel estas uzata la vorto aŭ termino. Por la fakoj kaj stiloj uzu
## unu el la aliloke listigitaj mallongigoj.
uzo = element uzo { attlist-uzo, (text | tld)* }
attlist-uzo &= attribute tip { "fak" | "reg" | "klr" | "stl" }?


## [dif] Difino estas la frazo difinanta la vorton, sencon aŭ
## subsencon. Ĝi povas esti ankaŭ en alia(j) lingvo(j) ol la vorto
## mem. La lingvon indikas la atributo <em>lng</em>.
dif =
  element dif {
    attlist-dif,
    (text | trd | trdgrp | ref | refgrp | dif-ref | ekz | snc | tekst-stiloj)*
  }
attlist-dif &= attribute lng { text }?


## [ekz] Ekzemplo konsistas el ekzemplofrazo,
## klarigoj kaj fonto.
ekz =
  element ekz {
    attlist-ekz,
    (text
     | fnt
     | uzo
     | ref
     | refgrp
     | dif-ref
     | ind
     | trd
     | trdgrp
     | esc
     | tekst-stiloj)*
  }
attlist-ekz &= attribute mrk { marko }?


## [rim] Rimarko povas enhavi iujn indikojn pri la vorto aŭ
## senco, krome referencojn, ekzemplojn, emfazitajn partojn.
rim =
  element rim {
    attlist-rim, (text | ref | refgrp | ekz | aut | fnt | esc | tekst-stiloj)*
  }
attlist-rim &=
  attribute num { text }?,
  attribute mrk { marko }?


## [refgrp] Referencgrupo grupigas plurajn samtipajn
## referencojn. La tipon indikas la atributo <em>tip</em>.
## Tiukaze ne uzu la atributon <em>tip</em> en la subelementoj
## <dfn>ref</dfn>!
refgrp = element refgrp { attlist-refgrp, (text? & ref+) }
attlist-refgrp &=
  [ a:defaultValue = "vid" ]
  attribute tip {
    "vid"
    | "hom"
#    | "dif"
    | "sin"
    | "ant"
    | "super"
    | "sub"
    | "prt"
    | "malprt"
    | "lst"
    | "ekz"
  }?

## [ref] Referenco montras al alia, simil- aŭ alisignifa vorto,
## oni povas distingi diversajn rilattipon al la
## referencita vorto. La enhavo de la referenco estas tio, kio
## aperas en la legebla teksto. La referencitan vorton mem
## oni difinas per la atributo <em>cel</em>. La celon oni plej
## bone difinas per: radiko.derivaĵo.difino, oni povas uzi
## la numeron de la difino aŭ derivaĵo. Plej bone oni
## generas la markojn (t.e. la eblaj celoj de referenco)
## aŭtomate por minimumigi erarojn.
## La atributoj <em>lst</em> kaj <em>val</em> servas por referenci al vortlisto (<em>tip="lst"</em>),
## ekz. monatoj. Se temas pri ordigita listo, vi povas indiki valoron per <em>val</em>,
## ekz. "3" ĉe la monato marto.
ref = element ref { attlist-ref, (text | tld | klr | sncref)* }
attlist-ref &=
  attribute tip {
    "vid"
    | "hom"
#    | "dif"
    | "sin"
    | "ant"
    | "super"
    | "sub"
    | "prt"
    | "malprt"
    | "lst"
    | "ekz"
  }?,
  attribute cel { text },
  attribute lst { text }?,
  attribute val { text }?


## [lstref] Referenco al vortlisto el artikolo.
lstref = element lstref { attlist-lstref, (text | tld | klr)* }
attlist-lstref &= attribute lst { text }


## [tezrad] Tezaŭraradiko. La kapvorto aperas en la enirlisto
## de la tezaŭro. Se vi uzas la atributon <em>fak</em>, 
## ĝi aperas en la struktura enirlisto de la fako.

tezrad = element tezrad { attlist-tezrad, empty }
attlist-tezrad &= attribute fak { fako }?


## [trdgrp] Tradukgrupo kunigas diversajn tradukojn de
## sama lingvo.
trdgrp = element trdgrp { attlist-trdgrp, (text | trd)* }
attlist-trdgrp &= attribute lng { text }


## [trd] Traduko kosistas el traduka vorto aŭ frazo
## kaj klarigoj, poste povos sekvi aliaj elementoj.
# FARENDA: difinu trd engrupa (sen lng) kaj memstara, sola

trd = element trd { attlist-trd, (text | klr | ind | mll | ofc | baz)* }
attlist-trd &=
  attribute lng { text }?,
  attribute fnt { text }?


## [ind] Parto de traduko, kiu liveras la kapvorton en la
## indekso, do &lt;trd&gt;sich &lt;ind&gt;bem&uuml;hen&lt;/ind&gt;&lt;/trd&gt;
## aperas sub bem&uuml;hen. Aŭ parto de ekzemplo aŭ bildpriskribo, al
## kiu rilatas internaj tradukoj ktp.
ind = element ind { attlist-ind, (text | tld | klr | mll)* }
attlist-ind &= empty

## [mll] Mallongigita traduko, por ekz. ne montri tutan frazon en la indekso oni
## povas aperigi tie nur komencon, finon aŭ mezon.

mll = element mll { attlist-mll, (text | tld | klr | ind)* }
attlist-mll &= attribute tip { "kom" | "mez" | "fin" }?

## [baz] Baza formo de traduko, sub kiu la vorto subordiĝos en la indekso.
baz = element baz { attlist-baz, text* }
attlist-baz &= empty

## [bld] Bildo povas ilustri iun vorton aŭ sencon. Per la
## atributo <em>lok</em> ĝi
## referencas al ekstera dosiero, kiu entenas la bildon.
## Per <em>alt</em> aŭ <em>lrg</em> vi povas doni fiksan formaton.
## Per <em>tip</em> vi donas tipon de la bildo, t.e. <em>img</em>
## por JPEG, GIF, PNG-bildo, <em>svg</em> por SVG-vektorgrafiko.
## Per <dfn>fnt</dfn> vi donas fonton kaj <em>prm</em> la permesilon
## laŭ kiu la bildo rajtas esti uzata (vd ĉe Wikimedia Commons).

bld =
  element bld {
    attlist-bld, (text | tld | klr | fnt | ind | trd | trdgrp)*
  }
attlist-bld &=
  attribute lok { xsd:anyURI },
  attribute mrk { marko }?,
  [ a:defaultValue = "img" ] attribute tip { "img" | "svg" }?,
  attribute alt { xsd:int }?,
  attribute lrg { xsd:int }?,
  attribute prm { text }?

## [adm] Administraj informoj estu por redaktado. Ili povus
## enhavi informojn pri kreodato, ŝanĝdato, aŭtoro, eraroj kaj
## plibonigproponoj pri artikolo. Ĝia strukturo ankoraŭ estas
## diskutatebla.
adm = element adm { attlist-adm, (text | aut)* }
attlist-adm &= empty


## [tld] Tildo rilatas al la radiko, donita en la kapvorto
## ĝi ne bezonas enhavon. La atributo <em>lit</em> indikas alian
## komencliteron ol havas la radiko, grava por majuskligo kaj
## minuskligo.
## La atributo <em>var</em> povas identigi radikon de variaĵo.

tld = element tld { attlist-tld, empty }
attlist-tld &= 
  attribute lit { text }?,
  attribute var { text }?


##  [klr] Klarigo pri vorto, difino, ekzemplo ktp.
klr =
  element klr {
    attlist-klr,
    (text | trd | trdgrp | ekz | ref | refgrp | esc | tekst-stiloj)*
  }
attlist-klr &= attribute tip { "ind" | "amb" }?


## [bib] Bibliografia indiko por fonto, estas mallongigo el
## listo de difinitaj bibliografieroj kaj anstataŭas verko- kaj aŭtoroindikon
## en la fontoj.
bib = element bib { attlist-bib, text* }
attlist-bib &= empty


## [vrk] Verko, en kiu troviĝas citita frazo aŭ vorto
vrk = element vrk { attlist-vrk, (text | url)* }
attlist-vrk &= empty


## [lok] Loko, kie troviĝas citita frazo aŭ vorto en verko
lok = element lok { attlist-lok, (text | url)* }
attlist-lok &= empty


## [aut] Aŭtoro de citita frazo aŭ verko
aut = element aut { attlist-aut, text }
attlist-aut &= empty


## [frm] Matematika aŭ kemia formulo, por matematikaj formuloj oni povas
##    ankaŭ doni esprimon laŭ sintakso de AsciiMath por pli bela kompostado
frm = element frm { attlist-frm, (text | sup | sub | g | k)* }
attlist-frm &= attribute am { text }?


## [g] Grasa parto de formulo, ekz. vektoro, matrico k.s.,
## bv. uzi nur en frm
g = element g { attlist-g, text* }
attlist-g &= empty


## [k] Kursiva parto de formulo, ekz. variablo k.s.,
## bv. uzi nur en frm
k = element k { attlist-k, text* }
attlist-k &= empty


##  [em] Emfazo. Normale grase skribata vortoj.
em = element em { attlist-em, (text | tld)* }
attlist-em &= empty


## [sup] altigita teksto, ekz. en ĥemiaj formuloj
sup = element sup { attlist-sup, (text | g | k)* }
attlist-sup &= empty


## [sub] malaltigita teksto, ekz. en ĥemiaj formuloj
sub = element sub { attlist-sub, (text | g | k)* }
attlist-sub &= empty


## [ctl] citilita teksto, ekz. memindika uzo de vorto
ctl = element ctl { attlist-ctl, (text | tld | em | frm)* }
attlist-ctl &= empty

## [nom] nomo ne-esperantigita, ignorata dum vortkontrolo
## ekz. "Karl Bein"
nom = element nom { attlist-nom, text* }
attlist-nom &= empty


## [nac] nacilingva vorto aŭ esprimo, ignorata dum vortkontrolo
## ekz. "powerful"
nac = element nac { attlist-nac, text* }
attlist-nac &= empty


## [esc] escepta vorto aŭ esprimo laŭ vortanaliza gramatiko, 
## ekz. "vivipova" (anst. "pova vivi" aŭ "vivopova"), "ĵusfarita" (anst. "ĵus farita")
esc = element esc { attlist-esc, text* }
attlist-esc &= empty

## [url] Referenco al iu ekstera dosiero. En la HTML-versio de vortaro
## tio fariĝas &lt;a href=...&gt; Anstataŭ la TTT-ejo prefere uzu
## la alinomojn difinitajn en la DTD, ĉar alikaze la referencoj tro
## ofte malvalidiĝus.
url = element url { attlist-url, text }
attlist-url &= attribute ref { xsd:anyURI }?


## [mlg] mallongigo de la kapvorto, ekz. ĉe nomoj de organizaĵoj. 
## Per <em>kod</em> vi povas indiki devenon de la mallongigo, ekz. ISO-3166 ĉe landokodoj
mlg = element mlg { attlist-mlg, text }
attlist-mlg &= attribute kod { text }?


start = vortaro


